# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!*x64/Release/openal32.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
!*x64/Release/SortingInSFML.exe
*.out
*.app

# Extra things to ignore
*Debug
*.pdb
*.log
*.ipdb
*.iobj
*.recipe
*.tlog
*.lastbuildstate
*.txt
*.exp

# Anything vs setup related
.vs